<di class="row">

	<h1 class='top-title'>Ajouter un projet</h1>

</div>

<div class="row">

	<div class="col-md-6">

		<section class="panel">

			<div class="content">

				<form role="form" ng-submit="createProject()">

					<div class="form-group">
						<label for="projectName">Nom du projet</label>
						<input required ng-model="createForm.name" type="text" class="form-control" id="projectName" name="projectName" placeholder="Nom du projet">
					</div>

					<div class="form-group">
						<label for="projectDescription">Description du projet</label>
						<textarea required ng-model="createForm.description" class="form-control" name="projectDescription" id="projectDescription" cols="120"></textarea>
					</div>

					<button type="submit" class="btn btn-default">Ajouter</button>

				</form>

			</div>


	    </section>

	 </div>

</div>



