<di class="row">

	<h1 class='top-title'>{{project.name}}</h1>

</div>

<div class="row">

	<!-- Project Detail -->

	<div class="col-md-6">

		<section class="panel">

			<header class="header-panel main-title">
                Détails du projet
            </header>

            <div class="content">
            	
            	<p ng-hide="editMode" >{{project.name}}</p>

            	<form ng-show="editMode" class="form" role="form">
            		<div class="form-group">
            			<label>Titre</label>
            			<input required type="text" ng-model="project.name" class="form-control" >
            		</div>
            	</form>

            	<hr>

            	<p ng-hide="editMode" >{{project.description}}</p>

            	<form ng-show="editMode"  class="form" role="form">
            		<div class="form-group">
            			<label>Description</label>
            			<textarea required ng-model="project.description" id="" cols="20" rows="10" class="form-control"></textarea>
            		</div>
            	</form>

            	<hr>

            	<p class="actions" >
            		<button ng-hide="editMode" class="btn btn-info" ng-click="editProject()">
            			<i class="fa fa-pencil"></i>
            			Modifier le projet
            		</button>
            		<button ng-show="editMode" class="btn btn-success" ng-click="updateData()">
            			<i class="fa fa-check"></i>
            			Sauvegarder les modifications
            		</button>
            		<button class="danger" ng-click="deleteProject(project._id)">
            			<i class="fa fa-times"></i> 
            			Supprimer ce projet
            		</button>
            	</p>

            </div>

		</section>

	</div>

	<!-- StepsController -->

	<div class="col-md-6 test" ng-controller="StepsController" >

		<section class="panel">

			<header class="header-panel">
                Tâches
            </header>


            <div class="content">

            	<ul class="goal-progress" >

            		<li ng-repeat="step in project.steps"  >

                        <div class="details">

                            <div class="title">
                                <a href="#">{{step.name}}</a>
                            </div>

                            <div class="progress progress-xs">
                                <div ng-class="{active: step.active}" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{step.pct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{step.pct}}%">
                                    <span class="">{{step.pct}}%</span>
                                </div>
                            </div>

                        </div>


                        <div class="step-view">

                        	<p>{{step.description}}</p>

                        	<p>{{step.active}}</p>

                        	<p mytruc ></p>

							<p>
								<button class='fa fa-play' ng-click='stateStep(step._id, true)' ></button>
								<button class='fa fa-stop' ng-click='stateStep(step._id)' ></button>
								<button class='fa fa-pencil' ng-click='editStep(step._id)' ></button>
								<button class='fa fa-times-circle danger' ng-click='deleteStep(step._id)' ></button>
							</p>

                        </div>

                    </li>

            	</ul>

				<div ng-show="adidou" >

					<h3>Ajouter une étape</h3>
					
					<form role="form" ng-submit="createStep()">

						<div class="form-group">
							<label for="projectName">Nom de l'étape</label>
							<input required ng-model="stepForm.name" type="text" class="form-control" id="projectName" name="projectName" placeholder="Nom de l'étape">
						</div>

						<div class="form-group">
							<label for="projectDescription">Description de l'étape</label>
							<textarea required ng-model="stepForm.description" class="form-control" name="projectDescription" id="projectDescription" rows="5"></textarea>
						</div>

						<div class="form-group">
							<label for="projectName">Nombre d'heures éstimé</label>
							<input required ng-model="stepForm.estimed_time" type="number" class="form-control" id="projectName" name="projectName" >
						</div>

						<button type="submit" class="btn" >Ajouter</button>

					</form>

					<button ng-click="addmode()" class="btn danger fl-right" type='btn' >Annuler</button>

				</div>

				<button ng-hide="adidou" ng-click="addmode()" type="submit" class="btn btn-default">Ajouter</button>

           	</div>

		</section>

	</div>
	
</di>

