<di class="row">

	<h1 class='top-title'>{{project.name}}</h1>

</div>

<div class="row">

	<div class="col-md-6">

		<section class="panel">

			<header class="header-panel">
                Détails du projet
            </header>

            <div class="content">
            	
            	<p ng-hide="editMode" >{{project.name}}</p>

            	<form ng-show="editMode" class="form" role="form">
            		<div class="form-group">
            			<label>Titre</label>
            			<input required type="text" ng-model="project.name" class="form-control" >
            		</div>
            	</form>

            	<hr>

            	<p ng-hide="editMode" >{{project.description}}</p>

            	<form ng-show="editMode"  class="form" role="form">
            		<div class="form-group">
            			<label>Description</label>
            			<textarea required ng-model="project.description" id="" cols="20" rows="10" class="form-control"></textarea>
            		</div>
            	</form>

            	<hr>

            	<p class="actions" >
            		<button ng-hide="editMode" class="btn btn-info" ng-click="editProject()">
            			<i class="fa fa-pencil"></i> 
            			Modifier le projet
            		</button>
            		<button ng-show="editMode" class="btn btn-success" ng-click="updateData()">
            			<i class="fa fa-check"></i>
            			Sauvegarder les modifications
            		</button>
            		<button class="danger" ng-click="deleteProject(project._id)">
            			<i class="fa fa-times"></i> 
            			Supprimer ce projet
            		</button>
            	</p>

            </div>

		</section>

	</div>

	<div class="col-md-6" ng-controller="StepsController" >

		<section class="panel">

			<header class="header-panel">
                Etapes
            </header>


            <div class="content">

				<hr>

				<div ng-repeat="item in project.steps" >

					<p><button ng-click="deleteStep(item._id)" class='danger fl-right' >Supprimer</button><h2>{{item.name}}</h2> </p>
					
				</div>

				<hr>

				<div>

					<h3>Ajouter une étape</h3>
					
					<form role="form" ng-submit="createStep()">

						<div class="form-group">
							<label for="projectName">Nom de l'étape</label>
							<input required ng-model="stepForm.name" type="text" class="form-control" id="projectName" name="projectName" placeholder="Nom du projet">
						</div>

						<div class="form-group">
							<label for="projectDescription">Description de l'étape</label>
							<textarea required ng-model="stepForm.description" class="form-control" name="projectDescription" id="projectDescription" rows="5"></textarea>
						</div>

						<div class="form-group">
							<label for="projectName">Nombre d'heures éstimé</label>
							<input required ng-model="stepForm.estimed_time" type="number" class="form-control" id="projectName" name="projectName" >
						</div>

						<button type="submit" class="btn btn-default">Submit</button>

					</form>

				</div>



           	</div>


		</section>

	</div>

	
</di>

